<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.EmailCampaign.Cd.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Cm.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.Model.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExM.Framework.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Framework.Conditions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Messaging.Abstractions" version="1.2.0" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
</packages>